<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}
  <meta>
  </meta>
  {% endblock %}

  <title>
    {% block title %}
    RoboExperiment: Data Collecting and Analysis
    {% endblock %}
  </title>

  {% block style %}
  <style></style>
  {% endblock %}

  {% block headscript %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {% endblock %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- Tempus Dominus CSS -->
  <!--
  <link href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.3/dist/css/tempus-dominus.min.css"
    rel="stylesheet">
    -->
</head>

<body>
  {% block nav %}
  {% endblock %}

  <div class="container">
    {% block heading %}
    <h1>Robotics Experiments</h1>
    {% endblock %}



    {% block content %}
    {% endblock %}

    {% block tailscript %}
    {% endblock %}
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <!-- Tempus Dominus JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.3/dist/js/tempus-dominus.min.js"></script>
  -->
</body>

</html>